[Unit]
Description=disable wallpaper change notifications

[Service]
Type=oneshot
ExecStart=sed -ie '252s/^/#/' /home/sudacode/.config/variety/scripts/set_wallpaper
